/* FOOTER  */
.footer-container {
  background-color: rgb(16,157,164);
  display: flex;
  margin-top: 10px;
  padding: 50px;
}

.footer-h2,
li {
  margin-top: 20px;
  list-style-type: none;
}

.footer-h2 {
  color: rgb(19,0,70);
  font-family: serif;
  font-size: x-large;
  font-weight: 800;
}

li {
  color: white;
  font-family: sans-serif;
}